<button class="btn btn-info" id="add-button">Add row</button>
<form action="/home/addpeople" method="post">
    <div class="row col-md-12 mt-3">
        <input type="text" name="people[0].firstName" placeholder="first name" class="form-control col-md-4" />
        <input type="text" name="people[0].lastName" placeholder="last name" class="form-control col-md-4" />
        <input type="text" name="people[0].age" placeholder="age" class="form-control col-md-4" />
    </div>
    <span id="span"></span>
    <button class="btn btn-danger btn-lg btn-block mt-3">Add all</button>
</form>

@section Scripts {
    <script src="~/js/index.js"></script>
}

